span.logo-lg {
    font-size: 15px;
    font-weight: bold;
}

.skin-blue .sidebar-menu>li:hover>div, .skin-blue .sidebar-menu>li.active>div {
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu>li>div {
    border-left: 3px solid transparent;
}

.sidebar-menu>li>div>.fa, .sidebar-menu>li>div>.glyphicon, .sidebar-menu>li>div>.ion {
    width: 20px;
}

.sidebar-menu li>div {
    position: relative;
}
.sidebar-menu>li>div {
    padding: 12px 5px 12px 15px;
    display: block;
}

span.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    padding: 3px 2px;
}

.bootstrap-timepicker-widget table td input {
    padding: 0;
}

div#location-selector-google-map {
    width: 100%;
    height: 325px;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear-custom {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px;
}

.infobox.col-md-3 {
    width: 33%;
}
