<span class="time"><i class="fa fa-clock-o"></i> {{item.displayTime}}</span>

<h3 class="timeline-header">New crisis event</h3>

<div class="timeline-body">
    <p>A new crisis event: <b>{{item.name}}</b> was reported at <b>{{item.location}}</b>.
    </p>

    <p class="timeline-item-detail">Type:</p>
    <p class="timeline-item-detail-content">{{item.displayType}}</p>
    <p class="timeline-item-detail">Location:</p>
    <p class="timeline-item-detail-content">{{item.location}}</p>
    <p class="timeline-item-detail">Severity:
        <div id="event-severity-check">
            <input type="radio" name="{{'incident' + item.id + 'sev1'}}" class="flat-red" ng-checked="item.severity >= 1" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev2'}}" class="flat-red" ng-checked="item.severity >= 2" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev3'}}" class="flat-red" ng-checked="item.severity >= 3" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev4'}}" class="flat-red" ng-checked="item.severity >= 4" disabled>
            <input type="radio" name="{{'incident' + item.id + 'sev5'}}" class="flat-red" ng-checked="item.severity >= 5" disabled>
        </div>
    </p>

    <p ng-show="item.description" class="timeline-item-detail">Details:</p>

    <p ng-show="item.description" class="timeline-item-detail-content">{{item.description}}</p>

</div>
<div class="timeline-footer"></div>