<span class="time"><i class="fa fa-clock-o"></i> {{item.displayTime}}</span>

<h3 class="timeline-header" ng-show="item.timelineType=='update'">New crisis update</h3>

<div class="timeline-body">
    <p ng-show="item.timelineType=='update'">An update for <b>{{item.incident.name}}</b> at <b>{{item.incident.location}}</b>
        was reported by <b>{{item.agency.name}}</b>.</p>
    <p class="timeline-item-detail">Details:</p>
    <div class="timeline-item-photo" ng-show="{{item['photo_url'] && item['photo_url'].length > 0}}">
        <img src="{{item['photo_url']}}" >
    </div>
    <p class="timeline-item-detail-content">{{item.description}}</p>
</div>
<div class="timeline-footer"></div>