<!-- Content Header (Page header) -->
<section class="content-header" ng-init="init()">
    <h1>
        Crisis Update
        <small>{{incident.name}}</small>
    </h1>
    <!--</ol>-->
</section>

<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-9 col-sm-8">
                                <div class="pad" ng-app="tbcCmsFrontApp" >
                                    <!-- form start -->
                                    <form role="form">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label>Event Name</label>
                                                <div>{{incident.name}}</div>
                                            </div>

                                            <div class="form-group">
                                                <label>Updated Severity</label>
                                                <div id="severity">
                                                    <input type="radio" name="sev1" class="flat-red">
                                                    <input type="radio" name="sev2" class="flat-red">
                                                    <input type="radio" name="sev3" class="flat-red">
                                                    <input type="radio" name="sev4" class="flat-red">
                                                    <input type="radio" name="sev5" class="flat-red">
                                                </div>
                                            </div>

                                            <input type="text" id="severityHidden" ng-model="update.severity" style="display: none">
                                            <input type="hidden" ng-model="update.agency" style="display: none" ng-init="update.agency='1'">

                                            <!-- time Picker -->
                                            <div class="form-group bootstrap-timepicker">
                                                <label for="timePicker">Time of Update</label>
                                                <div class="input-group">
                                                    <input type="text" id="timePicker" class="form-control timepicker">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div><!-- /.input group -->
                                            </div>

                                            <input type="text" id="timeHidden" ng-model="update.time" style="display: none">

                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea id="description" class="form-control" rows="3" placeholder="Enter details" ng-model="update.description">{{incident.description}}</textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputFile">Photo (optional)</label>
                                                <!--<input type="file" id="exampleInputFile" ng-model="update.file">-->
                                              <div ngf-drop ngf-select ng-model="files" class="callout callout-info" id="exampleInputFile"
                                                   ngf-drag-over-class="'callout-warning'" ngf-multiple="true"
                                                   accept="image/*"
                                                   ngf-pattern="'image/*'">Drop images <b>here</b> or click to upload</div>
                                              <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                                <!--<p class="help-block">Only one photo is allowed.</p>-->{{files}}
                                              <img ngf-src="!files[0].$error && files[0]"/>
                                            </div>
                                        </div><!-- /.box-body -->

                                        <div class="box-footer">
                                          <div class="callout callout-danger" ng-show="errorMsg">
                                            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                                            <p>{{errorMsg}}</p>
                                          </div>
                                          <div class="callout callout-success" ng-show="successMsg">
                                            <h4><i class="icon fa fa-check"></i> Congratulations!</h4>
                                            <p>{{successMsg}}</p>
                                          </div>
                                            <button ng-click="submitUpdate()" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>

                                    <!--<div>{{update}}</div>-->
                                </div>

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable-disabled">


        </section><!-- right col -->
    </div><!-- /.row (main row) -->

    <!-- Custom script -->
    <script src="scripts/controllers/js/crisis-update.js"></script>

</section><!-- /.content -->
