<!-- Content Header (Page header) -->
<section class="content-header" >
  <h1>
    Crisis Management System
    <small>Dashboard (Emergency Manager)</small>
  </h1>
  <!--</ol>-->
</section>

<!-- Main content -->
<section class="content">

  <!-- Info boxes -->
  <div class="row" ng-include="'views/header_status.html'">

  </div><!-- /.row -->
  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable-disabled">

      <!-- MAP & BOX PANE -->
      <div class="box box-success" ng-include="'views/map.html'">

      </div><!-- /.box -->


      <!-- TABLE: LATEST ORDERS -->
      <div class="box box-info">
        <div class="box-header with-border">
          <i class="fa fa-file-text"></i>
          <h3 class="box-title">System Log</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
              <tr>
                <th>Order ID</th>
                <th>Item</th>
                <th>Status</th>
                <th>Popularity</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><a href="pages/examples/invoice.html">OR9842</a></td>
                <td>Call of Duty IV</td>
                <td><span class="label label-success">Shipped</span></td>
                <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
              </tr>
              <tr>
                <td><a href="pages/examples/invoice.html">OR1848</a></td>
                <td>Samsung Smart TV</td>
                <td><span class="label label-warning">Pending</span></td>
                <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
              </tr>
              <tr>
                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                <td>iPhone 6 Plus</td>
                <td><span class="label label-danger">Delivered</span></td>
                <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
              </tr>
              <tr>
                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                <td>Samsung Smart TV</td>
                <td><span class="label label-info">Processing</span></td>
                <td><div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,-90,70,-61,83,63</div></td>
              </tr>
              <tr>
                <td><a href="pages/examples/invoice.html">OR1848</a></td>
                <td>Samsung Smart TV</td>
                <td><span class="label label-warning">Pending</span></td>
                <td><div class="sparkbar" data-color="#f39c12" data-height="20">90,80,-90,70,61,-83,68</div></td>
              </tr>
              <tr>
                <td><a href="pages/examples/invoice.html">OR7429</a></td>
                <td>iPhone 6 Plus</td>
                <td><span class="label label-danger">Delivered</span></td>
                <td><div class="sparkbar" data-color="#f56954" data-height="20">90,-80,90,70,-61,83,63</div></td>
              </tr>
              <tr>
                <td><a href="pages/examples/invoice.html">OR9842</a></td>
                <td>Call of Duty IV</td>
                <td><span class="label label-success">Shipped</span></td>
                <td><div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div></td>
              </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
          <a href="javascript::;" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
        </div><!-- /.box-footer -->
      </div><!-- /.box -->

    </section><!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-5 connectedSortable-disabled">

      <!-- TO DO List -->
      <div class="box box-primary">
        <div class="box-header">
          <i class="ion ion-clipboard"></i>
          <h3 class="box-title">To Do List</h3>
          <br><br>{{$root.incidents}}<br><br>Updates{{$root.allIncidentUpdates}}<br><br>Dispatches{{$root.allIncidentDispatches}}<br><br>TODO{{todoList}}
          <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
              <li><a ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">&laquo;</a></li>
              <li ng-repeat="n in [] | range:todoList.length/pageSize" ng-class="currentPage==n?'paginate_button active':''"><a ng-click="goPage(n)">{{n+1}}</a></li>
              <li><a ng-hide="currentPage >= todoList.length/pageSize - 1" ng-click="currentPage=currentPage+1">&raquo;</a></li>
            </ul>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body">
          <ul class="todo-list">
            <li ng-repeat="todo in todoList | orderBy:'-time' | startFrom:currentPage*pageSize | limitTo:pageSize">
              <!-- drag handle -->
                      <span class="handle-disabled">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
              <!-- todo text -->
              <span class="text" ng-click="open()" style="cursor: pointer">{{todo.todoType=='incident'?todo.name:('Dispatch: '+todo.resource)}}</span>
              <!-- Emphasis label -->
              <small class="label" ng-class="todo.todoType=='dispatch'?'label label-primary':(todo.todoType=='update'?'label label-info':(todo.todoType=='incident'?'label label-danger':'label label-warning'))"><i class="fa fa-clock-o"></i> <span am-time-ago="todo.time"></span></small>
            </li>
            <li>
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
              <span class="text">Approve Event Update</span>
              <small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>
            </li>
            <li>
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
              <span class="text">Approve Social Media Update</span>
              <small class="label label-warning"><i class="fa fa-clock-o"></i> 4 mins</small>
            </li>
            <li>
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
              <span class="text">New Crisis</span>
              <small class="label label-danger"><i class="fa fa-clock-o"></i> 4 mins</small>
            </li>
            <li>
                      <span class="handle">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                      </span>
              <span class="text">Dispatch Agencies</span>
              <small class="label label-primary"><i class="fa fa-clock-o"></i> 5 mins</small>
            </li>

            </li>
          </ul>
        </div><!-- /.box-body -->
      </div><!-- /.box -->


    </section><!-- right col -->
  </div><!-- /.row (main row) -->

</section><!-- /.content -->
