<section class="content-header">
  <h1>
    Crisis Management System
    <small>Dashboard (Key Decision Maker)</small>
  </h1>
  <!--</ol>-->
</section>

<section class="content">

    <!-- Info boxes -->
    <div class="row" ng-include="'views/header_status.html'" ng-controller="MainCtrl">

    </div><!-- /.row -->

  <!--Location Sample-->
  {{$root.incidents}}<br><br>
<div ng-repeat="incident in $root.incidents">{{incident.location}} - {{incident.name}}</div>
<!--/.Location Sample-->

    <div class="row">
        <div class="col-md-12">
            <div class="box">
              <div class="box box-success" ng-include="'views/map.html'">

                </div><!-- /.box -->
            </div><!-- /.box -->

                <!-- TABLE: LATEST ORDERS -->
                <div class="box box-info" ng-include="'views/syslog.html'" ng-controller="systemLogCtrl">

                </div><!-- /.box -->
            </ul>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">


        </div><!-- /.col -->
    </div><!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable-disabled">


        </section><!-- right col -->
    </div><!-- /.row (main row) -->

</section><!-- /.content -->
