<div class="box-header with-border">
  <i class="fa fa-map-o"></i>
  <h3 class="box-title">Crisis Map</h3>
  <div class="box-tools pull-right">

  </div>
</div><!-- /.box-header -->
<div class="box-body no-padding">
  <div class="row">
    <div id="map-container" class="col-md-9 col-sm-8">
      <div class="pad">
        <!-- Map will be created here -->
        <div id="crisis-google-map" style="height: 325px;"></div>
      </div>
    </div><!-- /.col -->
    <div id="map-label-container" class="col-md-3 col-sm-4">
      <div id="map-label" class="pad box-pane-right bg-green" >
        <div class="map-label active" id="map-label-all"><span>Show All</span></div>
        <div class="map-label" id="map-label-fire"><div class="map-label-number"></div> <span><img src="images/fire-pin-1.png">Fire</span></div>
        <div class="map-label" id="map-label-haze"><div class="map-label-number"></div><span><img src="images/haze-pin-1.png">Haze</span></div>
        <div class="map-label" id="map-label-crash"><div class="map-label-number"></div><span><img src="images/crash-pin-1.png">Traffic<br>Accident</span></div>
        <div class="map-label" id="map-label-dengue"><div class="map-label-number"></div><span><img src="images/dengue-pin-1.png">Dengue<br>Outbreak</span></div>
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.box-body -->

<script src="scripts/controllers/js/map-incident-modal.js"></script>
