<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Crisis Management System
    <small>Dashboard (Public)</small>
  </h1>
  <!--</ol>-->
</section>

<section class="content">

  <!-- Info boxes -->
  <div class="row" ng-include="'views/header_status.html'" ng-controller="MainCtrl">

  </div><!-- /.row -->
  Incidents<br>
  {{$root.incidents}}
<br>
<br>
  Agencies<br>
  {{$root.agencies}}

  <br>
  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box box-success" ng-include="'views/map.html'">

        </div><!-- /.box -->
      </div><!-- /.box -->
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label">
                  <span class="bg-red">
                    10 Feb. 2015
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-warning bg-red"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header">New crisis event</h3>
            <div class="timeline-body">
              <p>A new crisis event: &lt;IncidentName&gt; was reported at &lt;IncidentAddress&gt;.</p>
              <p class="timeline-item-detail">Details:</p>
              <p>&lt;IncidentDescription&gt;</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-ambulance bg-blue"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 11:54</span>
            <h3 class="timeline-header">Emergency agency dispatched</h3>
            <div class="timeline-body">
              <p>&lt;IncidentDispatchAgencyName&gt; has been dispatched for &lt;IncidentName&gt; was at &lt;IncidentAddress&gt;.</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-heartbeat bg-aqua"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 10:23</span>
            <h3 class="timeline-header">New crisis update</h3>
            <div class="timeline-body">
              <p>An update for &lt;IncidentName&gt; at &lt;IncidentAddress&gt; was reported by &lt;IncidentDispatchAgencyName&gt;.</p>
              <p class="timeline-item-detail">Details:</p>
              <p>&lt;IncidentUpdateDescription&gt;</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline time label -->
        <li class="time-label">
                  <span class="bg-green">
                    9 Feb. 2015
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-ambulance bg-blue"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 11:54</span>
            <h3 class="timeline-header">Emergency agency dispatched</h3>
            <div class="timeline-body">
              <p>&lt;IncidentDispatchAgencyName&gt; has been dispatched for &lt;IncidentName&gt; was at &lt;IncidentAddress&gt;.</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-heartbeat bg-aqua"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 10:23</span>
            <h3 class="timeline-header">New crisis update</h3>
            <div class="timeline-body">
              <p>An update for &lt;IncidentName&gt; at &lt;IncidentAddress&gt; was reported by &lt;IncidentDispatchAgencyName&gt;.</p>
              <p class="timeline-item-detail">Details:</p>
              <p>&lt;IncidentUpdateDescription&gt;</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-warning bg-red"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header">New crisis event</h3>
            <div class="timeline-body">
              <p>A new crisis event: &lt;IncidentName&gt; was reported at &lt;IncidentAddress&gt;.</p>
              <p class="timeline-item-detail">Details:</p>
              <p>&lt;IncidentDescription&gt;</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->


    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable-disabled">


    </section><!-- right col -->
  </div><!-- /.row (main row) -->

</section><!-- /.content -->
