<!-- Content Header (Page header) -->
<section class="content-header" ng-init="getIncidents()">
  <h1>
    Crisis Management System
    <small>Dashboard (Public)</small>
  </h1>
  <!--</ol>-->
</section>

<section class="content">

  <!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Current Crises</span>
          <span class="info-box-number">6</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Pending Requests</span>
          <span class="info-box-number">11</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Number of Active Agencies</span>
          <span class="info-box-number">15</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Resolved Crises</span>
          <span class="info-box-number">2,122</span>
        </div><!-- /.info-box-content -->
      </div><!-- /.info-box -->
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box box-success" ng-include="'views/map.html'">

        </div><!-- /.box -->
      </div><!-- /.box -->
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label">
                  <span class="bg-red">
                    10 Feb. 2014
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-envelope bg-blue"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
            <div class="timeline-body">
              Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
              weebly ning heekya handango imeem plugg dopplr jibjab, movity
              jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
              quora plaxo ideeli hulu weebly balihoo...
            </div>
            <div class="timeline-footer">
              <a class="btn btn-primary btn-xs">Read more</a>
              <a class="btn btn-danger btn-xs">Delete</a>
            </div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-user bg-aqua"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
            <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request</h3>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-comments bg-yellow"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
            <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>
            <div class="timeline-body">
              Take me to your leader!
              Switzerland is small and neutral!
              We are more like Germany, ambitious and misunderstood!
            </div>
            <div class="timeline-footer">
              <a class="btn btn-warning btn-flat btn-xs">View comment</a>
            </div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline time label -->
        <li class="time-label">
                  <span class="bg-green">
                    3 Jan. 2014
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-camera bg-purple"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
            <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
            <div class="timeline-body">
              <img src="http://placehold.it/150x100" alt="..." class="margin">
              <img src="http://placehold.it/150x100" alt="..." class="margin">
              <img src="http://placehold.it/150x100" alt="..." class="margin">
              <img src="http://placehold.it/150x100" alt="..." class="margin">
            </div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-video-camera bg-maroon"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 5 days ago</span>
            <h3 class="timeline-header"><a href="#">Mr. Doe</a> shared a video</h3>
            <div class="timeline-body">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tMWkeBIohBs" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="timeline-footer">
              <a href="#" class="btn btn-xs bg-maroon">See comments</a>
            </div>
          </div>
        </li>
        <!-- END timeline item -->
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->


    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable-disabled">


    </section><!-- right col -->
  </div><!-- /.row (main row) -->

</section><!-- /.content -->
