<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Crisis Management System
    <small>Dashboard (Public)</small>
  </h1>
  <!--</ol>-->
</section>

<section class="content">

  <!-- Info boxes -->
  <div class="row" ng-include="'views/header_status.html'" ng-controller="MainCtrl">

  </div><!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box box-success" ng-include="'views/map.html'">

        </div><!-- /.box -->
      </div><!-- /.box -->
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <!--ng-repeat="(date, value) in timeline | groupBy: 'date'"-->
        <li class="time-label" ng-repeat-start="(date, items) in timeline | groupBy: 'date'">
                  <span class="bg-red">
                    {{date}}
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li ng-repeat="item in items" ng-repeat-end>
          <i ng-show="item.timelineType=='incident'" class="fa fa-warning bg-red"></i>
          <i ng-show="item.timelineType=='dispatch'" class="fa fa-ambulance bg-blue"></i>
          <i ng-show="item.timelineType=='update'" class="fa fa-heartbeat bg-aqua"></i>

          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> {{item.displayTime}}</span>
            <h3 class="timeline-header" ng-show="item.timelineType=='incident'">New crisis event</h3>
            <h3 class="timeline-header" ng-show="item.timelineType=='dispatch'">Emergency agency dispatched</h3>
            <h3 class="timeline-header" ng-show="item.timelineType=='update'">New crisis update</h3>
            <div class="timeline-body">
              <p ng-show="item.timelineType=='incident'">A new crisis event: <b>{{item.name}}</b> was reported at <b>{{item.location}}</b>.</p>
              <p ng-show="item.timelineType=='dispatch'"><b>{{item.agency.name}}</b> has been dispatched for <b>{{item.incident.name}}</b> was at <b>{{item.incident.location}}</b>.</p>
              <p ng-show="item.timelineType=='update'">An update for <b>{{item.incident.name}}</b> at <b>{{item.incident.location}}</b> was reported by <b>{{item.agency.name}}</b>.</p>


              <p class="timeline-item-detail">Details:</p>
              <p>{{item.description}}</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-ambulance bg-blue"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 11:54</span>
            <h3 class="timeline-header">Emergency agency dispatched</h3>
            <div class="timeline-body">
              <p>&lt;IncidentDispatchAgencyName&gt; has been dispatched for &lt;IncidentName&gt; was at &lt;IncidentAddress&gt;.</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-heartbeat bg-aqua"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 10:23</span>
            <h3 class="timeline-header">New crisis update</h3>
            <div class="timeline-body">
              <p>An update for &lt;IncidentName&gt; at &lt;IncidentAddress&gt; was reported by &lt;IncidentDispatchAgencyName&gt;.</p>
              <p class="timeline-item-detail">Details:</p>
              <p>&lt;IncidentUpdateDescription&gt;</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline time label -->
        <li class="time-label">
                  <span class="bg-green">
                    9 Feb. 2015
                  </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-ambulance bg-blue"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 11:54</span>
            <h3 class="timeline-header">Emergency agency dispatched</h3>
            <div class="timeline-body">
              <p>&lt;IncidentDispatchAgencyName&gt; has been dispatched for &lt;IncidentName&gt; was at &lt;IncidentAddress&gt;.</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-heartbeat bg-aqua"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 10:23</span>
            <h3 class="timeline-header">New crisis update</h3>
            <div class="timeline-body">
              <p>An update for &lt;IncidentName&gt; at &lt;IncidentAddress&gt; was reported by &lt;IncidentDispatchAgencyName&gt;.</p>
              <p class="timeline-item-detail">Details:</p>
              <p>&lt;IncidentUpdateDescription&gt;</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-warning bg-red"></i>
          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header">New crisis event</h3>
            <div class="timeline-body">
              <p>A new crisis event: &lt;IncidentName&gt; was reported at &lt;IncidentAddress&gt;.</p>
              <p class="timeline-item-detail">Details:</p>
              <p>&lt;IncidentDescription&gt;</p>
            </div>
            <div class="timeline-footer"></div>
          </div>
        </li>
        <!-- END timeline item -->
        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>
    </div><!-- /.col -->
  </div><!-- /.row -->


    </div><!-- /.col -->
  </div><!-- /.row -->

  <!-- Main row -->
  <div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable-disabled">


    </section><!-- right col -->
  </div><!-- /.row (main row) -->

</section><!-- /.content -->
