<div class="box-header with-border">
  <i class="fa fa-file-text"></i>
  <h3 class="box-title">System Log</h3>
</div><!-- /.box-header -->
<div class="box-body">
  <div class="table-responsive">
    <table id="syslog" class="table no-margin">
      <thead>
      <tr>
        <th class="empty" colspan="2">Currently there is no system log</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2015-11-01 06:19:17</td>
        <td>New crisis &lt;Haze at SMU&gt; created</td>

      </tr>
      <tr>
        <td>2015-11-01 05:19:34</td>
        <td>New crisis &lt;Fire&gt; created</td>
      </tr>
      <tr>
        <td>2015-11-01 04:56:12</td>
        <td>Dispatch of crisis &lt;Fire&gt; approved </td>
      </tr>
      <tr>
        <td>2015-11-01 04:44:45</td>
        <td>Social media update approved</td>
      </tr>
      <tr>
        <td>2015-11-01 03:19:22</td>
        <td>Crisis &lt;Dengue outbreak&gt; archived</td>
      </tr>
      <tr>
        <td>2015-11-01 02:19:28</td>
        <td>Update on &lt;Dengue outbreak&gt; approved</td>
      </tr>
      <tr>
        <td>2015-11-01 01:19:49</td>
        <td>Update on &lt;Dengue outbreak&gt; pending approval</td>
      </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.box-body -->
