<div class="box-header with-border">
  <i class="fa fa-file-text"></i>
  <h3 class="box-title">System Log    {{$root.systemLogs}}
  </h3>
</div><!-- /.box-header -->
<div class="box-body">
  <div class="table-responsive">
    <table id="syslog" class="table no-margin">
      <thead ng-hide="$root.systemLogs && $root.systemLogs.length!=0">
      <tr>
        <th colspan="2">Currently there is no system log</th>
      </tr>
      </thead>
      <tbody ng-show="$root.systemLogs && $root.systemLogs.length!=0">
      <tr ng-repeat="log in $root.systemLogs">
        <td>{{log.time}}</td>
        <td>{{log.name}}</td>

      </tr>
      </tbody>
    </table>
  </div><!-- /.table-responsive -->
</div><!-- /.box-body -->
